<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pavis.upmsservice.mapper.SysAclMapper">
    <select id="selectByUsername" resultType="SysAcl">
        select sa.*
        from sys_user su
                 left join sys_role_user sru on su.id = sru.user_id
                 left join sys_role_acl sra on sru.role_id = sra.role_id
                 left join sys_acl sa on sra.acl_id = sa.id
        where su.username = #{username}
    </select>

    <select id="selectByRoleId" resultType="SysAcl">
        select sa.*
        from sys_role_acl sra
                 left join sys_acl sa on sra.acl_id = sa.id
        where sra.role_id = #{roleId}
    </select>
</mapper>